@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f5f4f4];
}

.location-icon {
  width: 32px;
  display: inline;
}

.mainHeader {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}