.page {
  padding: 5% 8%;
}
.heading {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 12px;
}
.description {
  text-align: center;
  color: rgb(80, 80, 80);
  min-width: 330px;
  width: 50%;
  margin: 0 auto;
}
.tweets {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: center;
}
blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 25px 0px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  height: 500px;
}
blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}
blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

table {
  width: 100%;
  text-align: left;
}

table,
tr,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.align-right {
  text-align: center;
}
tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: #f6efc2;
}
th {
  background: #fbca4d;
}

@media screen and (max-width: 420px) {
  .tweets {
    flex-direction: column;
  }
}
